{% extends "base.html" %}
{% block content %}
  <div>
          <h2>Historical Stock Price Plotter</h2>
          <h5>This app plots stock price data over a single year, simply input a ticker and the desired year below. Data is pulled from the <a href="https://www.quandl.com/databases/WIKIP">Quandl WIKI stock dataset</a>, which currently contains data from 1996-2018.</h3>
        <form id='inputform' method='post' action='process' >
            <p>
              Ticker: <input type='text' id='tickerInput'  name='tickerInput' placeholder='GOOG' />
            </p>
            <p>
              Year: <input type='text' name='yearInput' placeholder='2017' />
            </p>
            <p>
              <input type="checkbox" name='closingPrice' align='left' checked='yes' /> Closing price<br>
              <input type="checkbox" name='adjustedCP' align='left' /> Adjusted closing price<br>
              <input type="checkbox" name='openingPrice' align='left' /> Opening price<br>
              <input type="checkbox" name='adjustedOP' align='left' /> Adjusted opening price<br>
            </p>
            <p>
              <input type='submit' value='Go!' />
            </p>
          </form>
      </div>
{% endblock %}
