<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Graph page!">
    {{ script | safe }}
    <title>We did it!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" type="text/css" />
    <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ticker Lookup App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/thedataincubator/flask-framework">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.thedataincubator.com/12day.html">12-day</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href={{ticker}}>Google Finance</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Success!</h2>
          {{ div | safe }}
          <h4>
            <form id='inputform2' method='post' action='/' >
              <p>
                <input type='submit' value='Look at another stock?' />
              </p>
            </form>
          </h4>
        </div>
      </div>
    </div>
    <!-- <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-2.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  </body>
</html>